{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% set active_page = "dashboard" %}


{% block content %}
<button type="button" class="btn btn-info" aria-label="Left Align" id="refresh">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
    REFRESH
    <label class="small_loader"></label>
</button>

<div class="loader"></div>
<div id="dashboard_content"></div>
<script>
$( document ).ready(function() {
    $('.small_loader').css("display", "none");
    load_page();

    $('#refresh').click(function() {
        $('.small_loader').css("display", "inline-block");
        load_page();
    });
});

function load_page(){
    $("#dashboard_content").load("/dashboard_content", function() {
        $('.loader').hide();
        $('.small_loader').css("display", "none");
    });
}
</script>
{% endblock %}
