{% if check_if_pass() == true %}
<span class="hash-info">Current password hash: <code>{{ get_pass_hash() }}</code></span>
{% else %}
<span class="hash-info">Please type password:</span>
{% endif %}

<form class="form-inline" action="/use_password" method="POST" role="form">
    <div class="input-group">
        <div class="input-group-addon">Set new password</div>
        <span class="input-group-btn">
            <input name="password" type="password" class="form-control" id="exampleInputAmount" placeholder="Password">
            <button type="submit" class="btn btn-success">Unlock!</button>
            <button type="submit" class="btn btn-danger" name="clear">Clear password!</button>
        </span>
    </div>
</form>
</br>
