{% set first_run_bool = check_if_first_run() %}
{% if first_run_bool %}
<div class="alert alert-warning" role="alert">Please go to <a href="/settings_password">settings</a> and set the password if you want to use exchanges api keys</div>
{% else %}
{% set pass_bool = check_if_pass() %}
{% if pass_bool %}
<span class="hash-info">Current password hash: <code>{{ get_pass_hash() }}</code></span>
{% else %}
<span class="hash-info">Please type in the password:</span>
{% endif %}

<form class="form-inline" action="/use_password" method="POST" role="form">
    <div class="input-group">
        {% if not pass_bool %}
        <div class="input-group-addon">Unlock keys</div>
        <span class="input-group-btn">
            <input name="password" type="password" class="form-control" id="exampleInputAmount" placeholder="Password" required>
            <button type="submit" class="btn btn-success">UNLOCK</button>
        </span>
        {% else %}
        <button type="submit" class="btn btn-danger" name="clear">CLEAR PASSWORD</button>
        {% endif %}
    </div>
</form>
</br>
{% endif %}
