{% extends "base_settings.html" %}
{% block sub_title %}Password{% endblock %}
{% set active_sub_page = "password" %}

{% block settings_content %}

{% for message in messages %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}

<div class="panel panel-primary ">
    <div class="panel-heading">
        <h3 class="panel-title">Change password for all keys</h3>
    </div>
    <div class="panel-body">
        <form action="/settings_password" method="post" role="form">
            Old pass: <input type="password" class="form-control" name="old_pass" required/>
            New pass: <input type="password" class="form-control" name="new_pass" required/>
            New pass2: <input type="password" class="form-control" name="new_pass2" required/>

            <p>
                <div class="pull-left">
                    <button class="btn btn-success btn-small" type="submit" name="save">SAVE</button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-danger btn-small" type="submit" name="cancel">CANCEL</button>
                </div>
            </p>
        </form>
    </div>
</div>
{% endblock %}