{% extends "base_settings.html" %}
{% block sub_title %}Dashboard{% endblock %}
{% set active_sub_page = "dashboard" %}

{% block settings_content %}

{% for message in messages %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}

<div class="panel panel-primary ">
    <div class="panel-heading">
        <h3 class="panel-title">Columns in dashboard</h3>
    </div>
    <div class="panel-body">
        <form role="form" action="/settings" method="POST">
            <div class="checkbox">
                {% for element in columns_data %}
                <label>
                    {% if element[1] %}
                        {% set checked = 'checked="checked"' %}
                    {% else %}
                        {% set checked = '' %}
                    {% endif %}
                    <input type="checkbox" value="on" {{ checked }} name="{{ element[0] }}">
                    <input type='hidden' value="off" name='{{ element[0] }}'>
                    {% if element[2]=='' %}
                        {{ element[0] }}
                    {% else %}
                        {{ element[2] }}
                    {% endif %}
                </label></br>
                {% endfor %}
            </div>
            <input type="hidden" name="cols_setting" />
            <div class="pull-left">
                <button class="btn btn-success btn-small" type="submit" name="cols_save">SAVE</button>
            </div>
            <div class="pull-right">
                <button class="btn btn-danger btn-small" type="submit" name="cols_cancel">CANCEL</button>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-primary ">
    <div class="panel-heading">
        <h3 class="panel-title">Prices in BTC</h3>
    </div>
    <div class="panel-body">
        <form method="post" action="/settings" role="form">
            <table class="table table-condensed table-bordered table-hover data-table" id="data_table">
                <thead>
                    <tr>
                        <th>Currency</th>
                        <th>Exchange</th>
                    </tr>
                </thead>
                <tbody>
                    {% for currency in all_currency %}
                    <tr>
                        <td>{{ currency }}{% if currency=="BTC" %}*{% endif %}</td>
                        {% if currency in known_currecy %}
                        {% set current_exchange = known_currecy[currency] %}
                        {% endif %}
                        <td>
                            <select class="form-control" name="{{ currency }}">
                                {% for exchange in all_exchanges %}
                                <option {% if exchange==current_exchange %}selected{% endif %}>{{ exchange }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            *Price in USD/USDT
            </br>
            <div class="alert alert-warning" role="alert">Please make sure currency is supported by specified exchange. If not, you can add it in <a href="/settings_coinmarketcap">CoinMarketCap settings</a></div>

            <div class="pull-left">
                <button class="btn btn-success btn-small" type="submit" name="prices_save">SAVE</button>
            </div>
            <div class="pull-right">
                <button class="btn btn-danger btn-small" type="submit" name="prices_cancel">CANCEL</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}